aiofiles==24.1.0
aiohappyeyeballs==2.4.0
aiohttp==3.10.11
aiosignal==1.3.1
annotated-types==0.7.0
anyio==4.4.0
asgiref==3.8.1
attrs==24.2.0
azure-ai-documentintelligence==1.0.0b3
azure-cognitiveservices-speech==1.40.0
azure-common==1.1.28
azure-core==1.30.2
azure-core-tracing-opentelemetry==1.0.0b11
azure-cosmos==4.7.0
azure-identity==1.17.1
azure-monitor-opentelemetry==1.6.1
azure-monitor-opentelemetry-exporter==1.0.0b28
azure-search-documents==11.6.0b6
azure-storage-blob==12.22.0
azure-storage-file-datalake==12.16.0
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.7.4
cffi==1.17.0
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.1
deprecated==1.2.14
distro==1.9.0
fixedint==0.1.6
flask==3.0.3
frozenlist==1.4.1
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.5
httpx[http2]==0.27.0
hypercorn==0.17.3
hyperframe==6.0.1
idna==3.8
importlib-metadata==8.0.0
isodate==0.6.1
itsdangerous==2.2.0
jinja2==3.1.4
jiter==0.5.0
markupsafe==2.1.5
microsoft-kiota-abstractions==1.3.3
microsoft-kiota-authentication-azure==1.1.0
microsoft-kiota-http==1.3.3
microsoft-kiota-serialization-json==1.3.0
microsoft-kiota-serialization-text==1.0.0
msal==1.30.0
msal-extensions==1.2.0
msgraph-core==1.1.2
msgraph-sdk==1.1.0
msrest==0.7.1
multidict==6.0.5
numpy==2.0.1
oauthlib==3.2.2
openai==1.42.0
openai-messages-token-helper==0.1.10
opentelemetry-api==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-instrumentation-aiohttp-client==0.47b0
opentelemetry-instrumentation-asgi==0.47b0
opentelemetry-instrumentation-dbapi==0.47b0
opentelemetry-instrumentation-django==0.47b0
opentelemetry-instrumentation-fastapi==0.47b0
opentelemetry-instrumentation-flask==0.47b0
opentelemetry-instrumentation-httpx==0.47b0
opentelemetry-instrumentation-openai==0.27.0
opentelemetry-instrumentation-psycopg2==0.47b0
opentelemetry-instrumentation-requests==0.47b0
opentelemetry-instrumentation-urllib==0.47b0
opentelemetry-instrumentation-urllib3==0.47b0
opentelemetry-instrumentation-wsgi==0.47b0
opentelemetry-resource-detector-azure==0.1.5
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.1
opentelemetry-util-http==0.47b0
packaging==24.1
pendulum==3.0.0
pillow==10.4.0
portalocker==2.10.1
priority==2.0.0
propcache==0.2.0
psutil==5.9.8
pycparser==2.22
pydantic==2.8.2
pydantic-core==2.20.1
pyjwt[crypto]==2.9.0
pymupdf==1.24.9
pymupdfb==1.24.9
pypdf==4.3.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
quart==0.19.7
quart-cors==0.7.0
regex==2024.7.24
requests==2.32.3
requests-oauthlib==2.0.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
std-uritemplate==1.0.5
tenacity==9.0.0
tiktoken==0.7.0
time-machine==2.15.0
tqdm==4.66.5
types-beautifulsoup4==4.12.0.20240511
types-html5lib==1.1.11.20240806
types-pillow==10.2.0.20240822
typing-extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uvicorn==0.30.6
werkzeug==3.0.6
wrapt==1.16.0
wsproto==1.2.0
yarl==1.17.2
zipp==3.20.0
